
section {
    background-color: aquamarine;
    width: 20vw;
    margin-left: 50vw;
    margin-top: 10px;
    }
.interactive-elements {
    margin-top: 10px;
}
    input {
    background-color: white;
    padding-bottom: 15px;
    margin-bottom: 10px;
    border-color: white;
    border-width: 1em;
    border-radius: 35px;
    margin-left: 4vw;
    color:black;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
    width: 30vw;
    }
button {
    background-color:white;
    margin-left: 13vw;
    border-radius: 35px;
    margin-bottom: 5px;
}
.reset-button {
    margin-left: 13vw;
    border-radius: 35px;
    margin-top:5px;
}
.results {
    margin-left: 6vw;
}
body {
    background-color: aquamarine;
}